@page "/registro/index"
@inject IToastService toastService
@inject RegistrosService registrosService
@rendermode InteractiveServer


<div class="container">
    <div class="card shadow-lg">
        <div class="card-header d-flex justify-content-center align-items-center p-3">
            <h4 class="card-title mb-0">Consulta de...</h4>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-3">
                    <label class="col-form-label"><strong>Filtrar por</strong></label>
                </div>
                <div class="col text-end">
                    <a href="/" class="btn btn-success">
                        <span class="bi bi-plus-square"></span> Crear
                    </a>
                </div>
            </div>

            <div class="row align-items-center mb-3">
                <div class="col-3">
                    <InputSelect class="form-select" @bind-Value="filtro">
                        <option value="Id">Registro Id</option>
                        <option value="otro">...</option>
                    </InputSelect>
                </div>
                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control"
                               placeholder="Buscar" @bind-value="ValorFiltro" />
                        <button type="button" class="btn btn-primary">
                            <i class="bi bi-search me-1"></i> Buscar
                        </button>
                    </div>
                </div>
                <div>
                    <div class="row mt-3">
                        <div class="col-3 d-flex align-items-center mb-3">
                            <label for="fechaDesde" class="form-label me-2"><strong>Desde</strong></label>
                            <InputDate class="form-control" id="fechaDesde" @bind-Value="fechaDesde" />
                        </div>

                        <div class="col-3 d-flex align-items-center mb-3 ms-4">
                            <label for="fechaHasta" class="form-label me-2"><strong>Hasta</strong></label>
                            <InputDate class="form-control" id="fechaHasta" @bind-Value="fechaHasta" />
                        </div>
                    </div>

                </div>

            </div>
            <table class="table table-hover">
                <thead class="table table-striped text-black">
                    <tr>
                        <th>Registro Id</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var registro in registros)
                    {
                        <tr>
                            <td>@registro.RegistroId</td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="card-footer d-flex justify-content-between pb-0">
                <div class="col-auto text-center">
                    <label class="form-label">Conteo: @conteo</label>
                </div>
                <div class="col-auto">
                    <label class="form-label">Total:  @total</label>
                </div>
            </div>

        </div>
    </div>
</div>

@code {

    private List<Registro> registros = new List<Registro>();
    private string filtro = "Id";
    private string ValorFiltro { get; set; } = string.Empty;

    private decimal total = 0;
    private int conteo = 0;

    DateTime? fechaDesde { get; set; }
    DateTime? fechaHasta { get; set; }
}